From: IoTAdmin <iot_i_team@126.com>
To: yourself <{{ custom_email }}>
Subject: Reset PASSWORD

你好,
    请通过如下链接重新设置帐号密码:
        http://120.76.52.151:8081/v1/login/reset_passwd?reset_key={{ reset_key }}
    谢谢支持,IOT-I TEAM
