From: IoTAdmin <iot_i_team@126.com>
To: yourself <{{ custom_email }}>
Subject: Welcome Register

你好,
    欢迎注册IOT-I, 请通过如下链接激活你的帐号:
        http://120.76.52.151:8080/v1/login/account_active?verify_key={{ verify_key }}
    谢谢支持,IOT-I TEAM
